
body{
  font-family: 'Kanit', sans-serif;
  background: #161719;
  color: #e3e3e3;
}

h1{ font-size: 50px; }
h2{ font-size: 40px; }
h3{ font-size: 30px; }

.border{
  border: 2px solid #e3e3e3 !important;
}
.sc-sensor-outer{
  border: 4px solid #161719;
  background: #212124;
}
.bg-black{
  background-color: #141a1c;
  color: white;
}
.bg-blue{
  background-color: #0019FF;
  color: white;
}
.bg-green{
  background-color: #00E597;
  color: black;
}
.bg-grey{
  background-color: #D2D3D5;
  color: black;
}
.bg-grey_lightest{
  background-color: #F9F9FB;
  color: black;
}
.bg-grey_lighter{
  background-color: #ECECEE;
  color: black;
}
.bg-grey_darker{
  background-color: #6E6E6E;
  color: black;
}
.bg-grey_darkest{
  background-color: #7E7E7E;
  color: black;
}
.bg-yellow{
  background-color: #FFC100;
  color: black;
}
.bg-red{
  background-color: #FF3D4C;
  color: black;
}

.sc-nav-item{
  opacity: 0.7;
}
.sc-nav-item:hover{
  opacity: 1;
}
.nav-active{
  color: black;
}

.table-white{
  background: #eee;
  color: black;
}
